/* Untuk deskripsi di menu '...' */
.dropdown-item p {
  font-size: 0.8rem;
  margin: 0;
  color: #6c757d;
}

/* Styling profil agar bulat dan proporsional */
.profile-img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  /* kalau perlu bisa atur width/height di HTML */
}
