/* Untuk deskripsi di menu '...' */
.dropdown-item p {
  font-size: 0.8rem;
  margin: 0;
  color: #6c757d;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.dropdown-menu .dropdown-menu {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}